/*
Author: Raegan Townsend
File Name: style.css
Date: 09/17/2026 
*/

/* CSS Reset - it resets all of my selectors */ 

body, header, nav, main, footer, img, h1, h3 {
padding: 0;
border: 0;
margin: 0;
}

/*Style rules to show mobile class and hide tab-desk
class*/
.mobile{
   display:block;

}
.tab-desk{
   display: none;
}


header {
   padding: 3%;
   text-align: center;
}

img{
    max-width: 100%;
    display: flex;
   align-items: center;     
   flex-direction: column;
}

body {
        display: block;
        align-items: center;     
        flex-direction: column;
        background-color: #9e9ced58;

      }
nav {
   background-color: #151a2c;
   max-height: fit-content;
}

nav ul {
  list-style-type: none ;
  text-align: center ;
}

nav li {
   display:block;
   font-size: 1.5em;
   font-family:"Emblema One", system-ui;
   font-weight: 400;
   font-style: normal;
   border-style: solid;
   border-width: 0.5px;
}

nav li a {
   display: block;
  color: #f6eee4; 
padding: 0.5em 2em;
text-decoration: none;
}
/* Style rules for main content area */

main{
   padding: 2%;
   font-family: Verdana, Arial, sans-serif;
}

main p {
   font-size: 1.25em;
}

main h3 {
   padding-top: 2%;
}

main ul {
   list-style-type: square;
}

/* Style rules for class and id selectors */

.link {
   color: #3d3d58;
   text-decoration: none;
   font-weight: bold;
   font-style: italic;
}

.action {
   font-size: 1.75em;
   font-weight: bold;
   text-align: center;
}

#contact {
   text-align: center;
}

/* style rules for footer content */

footer {
   text-align: center;
   font-size: 0.95em;
   background-color: #293243;
   color: #f6eee4;
   width: 100%
}

footer a {
   color: #f3e6d8;
   text-decoration: none;

}

.banner {
   position: absolute;
   top: 0;
   left: 0;
   width: 100vw;
   height: 200px;
   z-index: -1;
}

h1{ 
   color: #f3e6d8;
}
.meow {
   border-radius: 20px;
   border-style: solid; 
   border-width: 10px; 
   border-color: rgb(58, 66, 89);
   
}


/* Media Query for Tablet Viewport */

@media screen and (min-width: 620px), print {

/*Tablet Viewport: Show tab-desk class, hide mobile class*/
.tab-desk {
   display:block;
}

.mobile{ 
   display:none;
}

/*Media Query for Large Desktop Viewports.*/
@media screen and (min-width: 1921px) {
   body{
      background: linear-gradient (#f6eee4 to #78593a);
   }

   #wrapper {
      width: 1920px;
      margin-top: 0%;
      margin-bottom: 0%;
      margin-left: auto;
      margin-right: auto;
   }

 
}

/*Tablet Viewport: Style rules for nav area*/

nav li{
   border-top:none;
   display: inline-block;
   font-size: 1.25em;
}

nav li a{
   padding:0.5;
}
}

/* Media Query for Desktop Viewport.*/

@media screen and (min-width: 1000px), print{
   /*Desktop Viewport:Style rules for nav area*/
   nav li{
      font-size: 1.5em;
      
   }

   nav li a{
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      padding-left: 1.5em;
      padding-right: 1.5em;
   }

   nav li a:hover{
      background-color: #f6eee4;
      color: #151a2c;

   }

   /*Desktop Viewport:Style rules for main content*/

   #info ul{
      margin-left: 5%;
   }
}

.audio-player {
    text-align: center;
    margin: 30px left;
    padding: 20px;
    max-width: 400px;
}

.audio-player p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.audio-player audio {
    width: 100%;
}